@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;

    --eco-green: #68aa68;
    --gray: #555555;
    --light-gray: #f5f5f5;
    --footer: #858585;
}

body {
    font-family: var(--sm-font);
    background-color: var(--light-gray);
}

/* NavBar */
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.navbar-brand ion-icon {
    width: 30px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link {
    color: var(--gray) !important;
}

.nav-link:hover {
    color: var(--eco-green) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.card {
    border: 1px solid var(--gray);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    font-family: var(--sm-font);
    padding: 20px;
}

.card-body .h6 {
    font-family: var(--lg-font);
    color: var(--gray);
}

.card-body .h5 {
    font-family: var(--lg-font);
    color: var(--eco-green);
}

.card-body i {
    color: var(--eco-green);
}
.bg-light {
    background-color: var(--light-gray) !important;
}

.bg-light h2 {
    font-family: var(--lg-font);
    color: var(--eco-green);
}
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

.text-footer {
    color: var(--footer);
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--eco-green) !important;
}
@media(min-width: 992px){
    .nav-item {
        border-bottom: none;
    }
}
