
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Fontes */
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;

    /* Cores */
    --eco-green: #68aa68;
    --gray: #555555;
    --light-gray: #fafafa;
}

body {
    font-family: var(--sm-font);
}

/* Botoes */
.bg-primary {
    background-color: var(--eco-green) !important;
}

.btn:not(.nav-btns button) {
    background-color: white;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 25px;
    padding: 10px 30px;
}

.btn:not(.nav-btns button):hover {
    background-color: var(--eco-green);
    color: white;
    border-color: var(--eco-green);
}

/* NavBar */

.container1 {
    background: linear-gradient(transparent 100%);
    position: relative;
    width: 100%;
    min-height: 15vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    height: 12vh;
    width: 100%;
}

.nav-brand ion-icon {
    width: 30px;
}

.nav-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}

.nav-link:hover {
    color: var(--eco-green) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}



/* box */

.container {
    background: linear-gradient(transparent 100%);
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background-color: #1abc9c;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

/* Footer */
footer .brand {
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

.text-footer {
    color: var(--footer);
}

footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--eco-green) !important;
}

/* Media Querry */
@media(min-width: 992px){
    .nav-item {
        border-bottom: none;
    }
}